.logo {
  margin: 0 auto;
  font-size: 0;

  @media @tablet-widths {
    position: absolute;
    left: 5%;
    top: 50%;

    transform: translateY(-50%);

    z-index: 1;
  }

  @media @desktop-widths {
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    z-index: 10;
  }
}

.logo__link[href] {

  &:hover {
  opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
