// переменные цветов

@bg-color: #fff;
@bg-color-promo: #f9f9f9;
@bg-color-promo-inner: #f1f1f1;
@bg-color-style: #62d1ba;
@bg-color-footer: #f1f1f1;

@text-color: #000000;
@text-color-lighter: #444444;
@text-color-style: #63d1bb;
@text-color-style-link: #46c1ae;

@border-color: #ececec;
@border-color-style: #62d1ba;
@border-catalog-color: #ededed;
@border-footer-color: #e5e5e5;
@border-popup-color: #c7c7c7;

@icon-color: #63d1bb;

// переменные для формы

@form-bg-color: #f1f1f1;

@form-border-color: #444444;
@form-border-color-hover: #62d1ba;
@form-border-color-active: #c7c7c7;

@form-checked-color: #62d1ba;

@form-icon-color: #cccccc;
@form-icon-color-hover: #62d1ba;

@form-btn-text-color: #444444;
@form-btn-bg-color: #fff;

// переменные кнопок

@burger-color: #221f1f;

@btn-border-color: #444444;
@btn-bg-color: #fff;

@btn-color: #63d1bb;
@btn-color-darker: #56c3b2;
@btn-color-medium-dark: #3bb09d;
@btn-color-dark: #149080;

@btn-menu-icon: fade(#221f1f, 20%);
@btn-menu-icon-hover: @btn-color;
@btn-menu-icon-active: fade(@btn-color, 30%);
@btn-menu-hover: fade(@text-color, 60%);
@btn-menu-active: fade(@text-color, 30%);

@btn-item-dark: #444444;
@btn-item-light: #fff;

@btn-arrows-color: #000;
@btn-arrows-hover: #666666;
@btn-arrows-active: #b2b2b2;

@btn-reviews-text: #444444;
@btn-reviews-bg: #fff;

@btn-contacts-text: #444444;
@btn-contacts-bg: #fff;

// переменные шрифтов

@font-family: "Open-sans", "Arial", sans-serif;

@font-size-mini: 13px;
@font-size-small: 15px;
@font-size-normal: 17px;
@font-size-bigger: 20px;
@font-size-medium: 25px;
@font-size-big: 27px;
@font-size-title-tablet: 43px;
@font-size-title-desktop: 53px;

@font-weight-normal: 400;
@font-weight-bold: 700;

@line-height-small: 24px;
@line-height-normal: 30px;
@line-height-big: 50px;

// переменные для медиа выражений

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";

@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
